<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img style="height: 500px" src="https://pcrentmexico.files.wordpress.com/2019/05/soporte-tecnico-empresas.jpg?w=900" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h4 style="color:black; background-color: aliceblue">Mantenimiento a su CPU</h4>
            </div>
        </div>
        <div class="carousel-item">
            <img style="height: 500px" src="https://i.pinimg.com/originals/0b/ad/40/0bad40d1e7cd6b6ccf5fa7a5a3f91fc1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h4 style="color:black; background-color: aliceblue" >Venta de Perifericos para Computadora</h4>
            </div>
        </div>
        <div class="carousel-item">
            <img style="height: 500px" src="https://www.karlosperu.com/wp-content/uploads/2019/04/header-1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h4 style="color:black; background-color: aliceblue" >Cotizacion para implementacion de nuevos complementos a su Equipo</h4>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

