<footer style="background-color: #ffc107 ;">
    <div class="py-5" >
    <div class="container bg-warning">
      <div class="row">
        <div class="col-md-9">
          <p class="lead">Si quiere estar informado de nuestor ultimos productos</p>
          <form class="form-inline">
            <div class="form-group"> <input type="email" class="form-control" placeholder="Tu correo electronico"> </div> <button type="submit" class="btn btn-primary ml-3">Subscribete</button>
          </form>
        </div>
        <div class="col-4 col-md-1 align-self-center"> <a href="#">
            <i class="fa fa-fw fa-facebook text-muted fa-2x"></i>
          </a> </div>
        <div class="col-4 col-md-1 align-self-center"> <a href="#">
            <i class="fa fa-fw fa-twitter text-muted fa-2x"></i>
          </a> </div>
        <div class="col-4 col-md-1 align-self-center"> <a href="#">
            <i class="fa fa-fw fa-instagram text-muted fa-2x"></i>
          </a> </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-3 text-center">
          <p>© Copyright 2020 Dr. Compu - Derechos Reservados.</p>
        </div>
      </div>
    </div>
  </div>
</footer>