<nav class="navbar navbar-expand-lg navbar-light bg-warning">
  <div class="container">
    <div>
    <img style="height: 50px;width:50px; margin-right: 10px" src="https://3.bp.blogspot.com/_UHHVuRmN1Vs/SisDO1vyFZI/AAAAAAAAAAU/H7SmyMvh3kk/S241/pc-doctor-software.gif" alt="">
      <a class="navbar-brand" href="/">Dr. Compu</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <h5><a class="nav-link" href="/services">Servicios</a></h5>
        </li>
        <li class="nav-item active">
          <h5><a class="nav-link" href="/about">Nosotros</a></h5>
        </li>
      </ul>
    </div>
  </div>
</nav>