<!DOCTYPE html>
<html lang="en">

{{> head }}

<body>
    
    
        {{> navegation_bar }}
    
    <div class="container">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://static.wixstatic.com/media/c10276_83eb22b4a36f4edaaaf1529c15bd0313~mv2.jpg/v1/fill/w_467,h_262,al_c,q_80,usm_0.66_1.00_0.01/foto%20local%20dr%20compu2.webp" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h1 style="color: yellow;">Brindamos Soporte Tecnico para tu Computador o Laptop</h1>
                    </div>
                </div>
            </div>        
        </div>
    </div>

    <div class="container">
        <div style="align-content: center; height: auto; background-color:grey; margin:0px">
            <h1 style="text-align: center; color: yellow">Ultimas Noticias</h1>
        </div>        
    </div>

    <div class="container">
        <div class="form-row">
            <div class="col-6">
                <div class="card" style="width: auto;">
                    <img style=" height: 300px" src="https://media.vandal.net/i/1280x720/11-2020/202011914502451_1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Aya Neo, el PC de bolsillo con forma de Switch Lite y procesador y gráfica AMD.</p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card" style="width: auto;">
                    <img style=" height: 300px" src="https://821859.smushcdn.com/1856100/wp-content/uploads/2020/11/asus-rx-6800-xt-stock-780x470.jpg?lossy=1&strip=1&webp=1" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">ASUS avisa que el stock de AMD RX 6800 XT será muy limitad.</p>
                        <p></p>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>

        <div style="margin-top: 20px; margin-bottom: 20px">
            <div class="form-row">
            <div class="col-6">
                <div class="card" style="width: auto;">
                    <img style=" height: 300px" src="https://hardzone.es/app/uploads-hardzone.es/2020/11/ADATA-Spectrix-D50-930x487.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">ADATA XPG Spectrix D50 DDR4 3600 MHz, elegancia y rendimiento unidos.</p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card" style="width: auto;">
                    <img style=" height: 300px" src="https://areajugones.sport.es/wp-content/uploads/2020/08/call-of-duty-black-ops-cold-war-zombies.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">NVIDIA lanza la versión 457.30 WHQL de sus drivers con soporte para Call Of Duty: Black Ops Cold War.</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>

    
    
    

    
</body>

{{> footer}}

</html>
