<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>
    
    {{> navegation_bar}}
    
    <div class="container">
        <div style="background-color: grey;">
            <h1 style="text-align: center; color: black; margin: 0px">Servicios</h1>
        </div>        
    </div>

    <div class="container">
        {{>carousel }}
    </div>

    <div class="container">
        <div style="background-color: grey;">
            <h1 style="text-align: center; color: black; margin: 0px">Productos</h1>
        </div>        
    </div>

    <div class="container">
        <div class="container">
        <div class="form-row">
            <div class="col-4">
                <div class="card" style="width: auto;">
                    <img style=" height: 300px" src="https://s3.amazonaws.com/imagenes-sellers-mercado-ripley/2020/09/24161802/3618.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">THERMALTAKE MEMORIA RAM TOUGHRAM RGB 16GB</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: auto;">
                    <img style=" height: 300px" src="https://home.ripley.com.pe/Attachment/WOP_5/2004252696040/2004252696040_2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">ACER LAPTOP A515-55-55UU CORE I5 256GB 8GB</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: auto;">
                    <img style=" height: 300px" src="https://home.ripley.com.pe/Attachment/WOP_5/2004254640171/2004254640171_2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">AOC MONITOR FHD 24" C24G1</p>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>

        <div style="margin-top: 20px; margin-bottom: 20px">
            <div class="form-row">
                
            <div class="col-4">
                <div class="card" style="width: auto;">
                    <img style=" height: 300px" src="https://home.ripley.com.pe/Attachment/WOP_5/2004225486524/2004225486524_2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">ESET ANTIVIRUS NOD32 2019 1 AÑO</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: auto;">
                    <img style=" height: 300px" src="https://s3.ca-central-1.amazonaws.com/ripley-oc-conector-prod/Imagenes-MIRAKL/2018/09/PMP00000100095-1-F.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">SANDISK PENDRIVE USB GLIDE 3.0 64GB</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: auto;">
                    <img style=" height: 300px" src="https://home.ripley.com.pe/Attachment/WOP_5/2031234893395/2031234893395_2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">CALL OF DUTY 2019 MODERN WARFARE PS4</p>
                        <p></p>
                    </div>
                </div>            
            </div>
            </div>
        </div>

        <div style="margin-top: 20px; margin-bottom: 20px">
            <div class="form-row">
                
            <div class="col-4">
                <div class="card" style="width: auto;">
                    <img style=" height: 300px" src="https://home.ripley.com.pe/Attachment/WOP_5/2031238940866/2031238940866_2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">PLAYSTATION VR VALUE PACK</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: auto;">
                    <img style=" height: 300px" src="https://s3.amazonaws.com/imagenes-sellers-mercado-ripley/2019/12/03151702/switchv2_1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">CONSOLA NINTENDO SWITCH V2 NEON</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: auto;">
                    <img style=" height: 300px" src="https://home.ripley.com.pe/Attachment/WOP_5/2004254929795/2004254929795_2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">ARGOMTECH CÁMARA WEB CAM40 HD 1080P</p>
                        <p></p>
                    </div>
                </div>            
            </div>
            </div>
        </div>
    </div>


    </div>


</body>


    

{{> footer}}
</html>